@import 'https://fonts.googleapis.com/css?family=Montserrat';
header{
  min-height: 100vh;
  background-image: url("../images/Faustop.png");
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-right: 50%;
}
h1{
  margin: 0;
  font-size: 3rem;
}
h2{
  margin: 0;
  font-size: 1.5rem;
}
